
           
    <!-- Navbar -->
    <nav class="navbar w-full flex justify-between pl-3 pr-6 md:px-10 py-4 border-b-2 fixed top-0 border-slate-400 bg-white z-10">

      <!-- Brand -->
      <div class="logo-brand flex items-center">
      <i id="menuIcon" class='menu hide-menu-icon bx bx-menu text-xl py-1 px-2 mt-1 mr-1  bg-slate-300 rounded-full transition-all active:border-2 active:border-zinc-400'></i>
      <h1 class="text-2xl">Cheeji Shop.</h1>
      </div>
 
      <ul class="hidden w-2/3 md:flex justify-end items-center gap-10 text-lg ">
        <li id="headerShop"><a href="/" id="shoplink" class="pb-2 border-black" >Shop</a></li>
        <li id="headerHome"><a href="/admin/dashboard" id="shoplink" class="pb-2 border-black" >Home</a></li>
        <li id="headerCreate"><a href="/admin/create" id="shoplink" class="pb-2 border-black" >Create</a></li>
        <li id="headerProfile"><a href="/profile" id="profilelink" class="pb-2 border-black">Profile</a></li>
        <li id="headerCart" ><a href="/cart" id="cartlink"  class="pb-2 border-black">Cart</a></li>
      </ul>

      <div class="profile-dorpdown relative">
         
        <!-- profileBtn -->
         <div class="profileBtn md:w-32 h-10  md:mr-0 border-[1px] border-black flex w-full  rounded-full cursor-pointer hover:bg-[#7FB77E1A] active:border-2">
        
    <!-- Profile Image -->
    <% if (userPicture && userPicture.length > 0) { %>
    <div class="">
        <img class="w-10 md:w-20 h-full rounded-full active:border-2" src="data:image/jpeg;base64,<%= userPicture.toString('base64') %>" alt="">
    </div>
     <% } else { %> 
      <div class="">
      <img class="w-full h-full rounded-full active:border-2" src="/images/DefaultUser.jpg" alt="">
        </div>
      <% } %>
          <div class="px-2 hidden md:flex items-center justify-center">
            <h3>Profile</h3>
            <i id="caret" class='pl-1 mt-1 text-xl bx bx-chevron-down'></i>
          </div>
         </div>
          
          <!-- Dropdown -->
         <ul class="dropdown absolute w-32 md:w-56 max-h-0 overflow-hidden  -left-20 -md:-left-10 text-lg top-[65px] text-black bg-slate-100 rounded-lg transition-all">
          <li class="py-[5px] md:py-2 pl-2 md:pl-4 hover:translate-x-2 active:translate-x-2"><a href="/profile" class="tracking-tighter md:tracking-normal "><i class='mr-2 p-1 rounded-full bg-slate-300 bx bx-user'></i>Profile</a></li>
          <li class="py-[5px] md:py-2 pl-2 md:pl-4 hover:translate-x-2 active:translate-x-2"><a href="" class="tracking-tighter md:tracking-normal "><i class='mr-2 p-1 rounded-full bg-slate-300 bx bx-envelope'></i>Inbox</a></li>
          <li class="py-[5px] md:py-2 pl-2 md:pl-4 hover:translate-x-2 active:translate-x-2"><a href="" class="tracking-tighter md:tracking-normal"><i class='mr-2 p-1 rounded-full bg-slate-300 bx bx-cog'></i>Settings</a></li>
          <hr>
          <li id="logout" class="py-[5px] md:py-2 pl-2 md:pl-4 hover:translate-x-2 active:translate-x-2"><a href="/users/logout" class="tracking-tighter md:tracking-normal text-red-500"><i class='mr-2 p-1 rounded-full bg-slate-300 bx bx-log-out'></i>Logout</a></li>
          <li id="login" class="py-[5px] md:py-2 pl-2 md:pl-4 hover:translate-x-2 active:translate-x-2 hidden"><a href="/login" class="tracking-tighter md:tracking-normal text-green-500"><i class='mr-2 p-1 rounded-full bg-slate-300 bx bx-log-in'></i>Login</a></li>
         </ul>
         
    </div>
     </nav>

     

    
     