

        <!-- Sidebar -->
        <div class="sidebar z-50 w-2/3 -translate-x-full pl-3 flex flex-col gap-7 py-10 text-white bg-slate-400 h-screen fixed top-[72px] md:fixed md:top-[72px] md:translate-x-0 md:w-[70px] transition-all ">
            <!-- First div -->
            <div class="filter text-[18px] pl-3 flex gap-4 text-xl">
                <h1><span><i class='bx bx-filter-alt pr-'></i></span><span class="hide md:hidden">sort by:</span></h1>
                <button class="hide md:hidden border-2 px-1 border-slate-300">Popular <i class='bx bx-chevron-down'></i></button>
            </div>
            
            <!-- Links -->
            <ul class="text-[18px]">
                <li id="dashboard" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/admin/dashboard"><i class='bx bxs-dashboard pr-2'></i><span class="hide md:hidden">Dashboard</span></a></li>
                <li id="allProducts" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/"><i class='bx bxs-package pr-2'></i><span class="hide md:hidden">All Products</span></a></li>
                <li id="allProductsAdmin" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/admin/products"><i class='bx bxs-package pr-2'></i><span class="hide md:hidden">All Products</span></a></li>
                <li id="newCollection" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a class="hide1 tracking-tighter" href=""><i class='bx bx-collection pr-2'></i><span class="hide md:hidden">New Collection</span></a></li>
                <li id="createProduct" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/admin/create"><i class='bx bx-collection pr-2'></i><span class="hide md:hidden">Create New Product</span></a></li>
                <li id="discounted" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a class="hide md:hidden" href=""><i class='bx bxs-discount pr-2'></i><span>Discounted Products</span></a></li>
                <li id="sidebarCart" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/cart"><i class='bx bx-cart pr-2'></i><span class="hide md:hidden">Cart</span></a></li>
                <li id="deleteAll" class="px-3 py-2 text-red-500 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/admin/deleteAll"><i class='bx bx-trash pr-2'></i><span class="hide md:hidden">Delete All</span></a></li>
            </ul>
              
            <ul class="hide md:hidden text-[18px]">
                <li class="pl-3 py-1 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="">Filter by:</a></li>
                <li class="pl-3 py-1 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="">Availability:</a></li>
                <li class="pl-3 py-1 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="">Discount:</a></li>
            </ul>
            
          </div>
    
    